*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}
body{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    
}
.sub_container{
  max-width: 600px;
  padding: 20px;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 4px 3px 5px rgba(1, 1,1, 0.1);
  border-radius: 10px;
  /* height:700px ; */
  margin-bottom: 50px;
}
.title_small{
    font-size: 25px;
}

    

.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.form_control{

    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;
}
input,select,textarea{
    padding: 6px 10px;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 15px;
}
button{
    background-color: red;
    border-radius: 8px;
    border: transparent solid 2px;
    padding: 5px 10px ;
    color: antiquewhite;
    /* size: auto; */
    transition:0.3s case-in ;
}
button:hover{
    background-color: gray;
    border: 2px solid red;
    color: black;
    transition:0.3s case-in ;
    cursor: pointer;


}
input:focus{
    outline-color: red;
    border: 1px solid;

}
textarea,select{
    
        outline-color: red;
        border: 1px solid;
    
    
}
.button_container{
    display: flex;
    justify-content: flex-end;
    margin: 20px;

}
.textarea_control{
    grid-column: 1/span 2;
}
.textarea_control textarea{
    width: 100%;

}
@media(max-width:460px){
    .textarea_control{
        grid-column: 1/span 1;
    
}
}
